In [124]:
import pandas as pd
import numpy as np
# pd.reset_option('display.max_rows')
pd.set_option('display.max_rows', None)

In [ ]:
df = pd.read_csv('WeekByWeekRankings2020to2025.csv')
df_copy = df.copy()

In [ ]:
df1 = pd.read_csv('CollegeFootballRankings24to20.csv')
df_copy = df.copy()

In [123]:
headers = df.columns
print(headers)

Index(['AP_rank', 'Team', 'Week', 'year'], dtype='object')

In [105]:
df['AP_rank'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25])

In [125]:
df['AP_rank'].value_counts()

AP_rank
8     81
11    81
3     80
16    80
2     80
21    80
7     79
1     79
5     79
23    79
24    79
6     79
13    79
15    79
14    79
18    79
10    79
25    79
20    79
19    79
17    78
22    78
4     77
9     77
12    77
Name: count, dtype: int64

In [107]:
df['AP_rank'].isna().sum()

np.int64(0)

In [108]:
df['Team'].isna().sum()

np.int64(0)

In [109]:
df['Team'].unique()

array(['Georgia', 'Ohio State', 'Oregon', 'Texas', 'Alabama', 'Ole Miss',
       'Notre Dame', 'Michigan', 'Penn State', 'Florida State',
       'Missouri', 'LSU', 'Utah', 'Clemson', 'Tennessee', 'Oklahoma',
       'Kansas State', 'Oklahoma State', 'Miami', 'Texas A&M', 'Arizona',
       'NC State', 'USC', 'Kansas', 'Iowa', 'Louisville', 'Washington',
       'Iowa State', 'Nebraska', 'Memphis', 'UNLV', 'Illinois', 'BYU',
       'Indiana', 'Boise State', 'Pittsburgh', 'SMU', 'Army', 'Navy',
       'Vanderbilt', 'Washington State', 'Colorado', 'South Carolina',
       'Tulane', 'Arizona State', 'Syracuse', 'TCU', 'Oregon State',
       'North Carolina', 'Wisconsin', 'Texas Tech', 'Duke', 'UCLA',
       'Florida', 'Kentucky', 'Fresno State', 'Air Force',
       'James Madison', 'Liberty', 'Toledo', 'West Virginia', 'Baylor',
       'Michigan State', 'Wake Forest', 'Cincinnati', 'Arkansas',
       'Houston', 'Minnesota', 'Mississippi State', 'UCF',
       'Coastal Carolina', 'UTSA', 'Troy', 'Louisiana', 'Virginia Tech',
       'Auburn', 'San Diego State', 'Utah State', 'Appalachian State',
       'Marshall', 'Northwestern', 'Tulsa', 'Buffalo', 'Ball State',
       'San José State'], dtype=object)

In [143]:
df['Team'].value_counts()
dfteam_values = df['Team'].value_counts()
dfteam_sorted_values = dfteam_values.sort_index(ascending = True)
print(dfteam_sorted_values)

Team
Air Force             3
Alabama              79
Appalachian State     1
Arizona               9
Arizona State         8
Arkansas             16
Army                 13
Auburn               18
BYU                  43
Ball State            1
Baylor               18
Boise State          11
Buffalo               2
Cincinnati           37
Clemson              63
Coastal Carolina     22
Colorado             10
Duke                  8
Florida              26
Florida State        24
Fresno State          5
Georgia              79
Houston               8
Illinois             14
Indiana              20
Iowa                 29
Iowa State           30
James Madison         7
Kansas                9
Kansas State         34
Kentucky             21
LSU                  42
Liberty              12
Louisiana            17
Louisville           19
Marshall              7
Memphis               8
Miami                40
Michigan             62
Michigan State       17
Minnesota             5
Mississippi State     7
Missouri             26
NC State             28
Navy                  1
Nebraska              3
North Carolina       36
Northwestern          6
Notre Dame           71
Ohio State           78
Oklahoma             56
Oklahoma State       52
Ole Miss             61
Oregon               74
Oregon State         21
Penn State           64
Pittsburgh           19
SMU                  24
San Diego State       6
San José State        1
South Carolina        9
Syracuse              8
TCU                  12
Tennessee            50
Texas                56
Texas A&M            49
Texas Tech            1
Toledo                2
Troy                  2
Tulane               22
Tulsa                 3
UCF                  10
UCLA                 21
UNLV                  7
USC                  45
UTSA                  9
Utah                 42
Utah State            1
Vanderbilt            2
Virginia Tech         9
Wake Forest          22
Washington           29
Washington State      8
West Virginia         1
Wisconsin            24
Name: count, dtype: int64

In [111]:
df['Week'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [112]:
df['Week'].isna().sum()

np.int64(0)

In [128]:
df['Week'].value_counts()

Week
1     125
3     125
4     125
5     125
7     125
6     125
8     125
9     125
13    125
10    125
11    125
12    125
15    125
14    125
16    125
2     100
Name: count, dtype: int64

In [114]:
df['year'].unique()

array([2024, 2023, 2022, 2021, 2020])

In [115]:
df['year'].value_counts()

year
2024    400
2023    400
2022    400
2021    400
2020    375
Name: count, dtype: int64

In [116]:
df['year'].isna().sum()

np.int64(0)

In [129]:
headers1 = df1.columns
print(headers1)

Index(['Team', 'date', 'opponent', 'win_loss', 'pass', 'rush', 'rec',
       'points_allowed', 'points_scored', 'point_differential', 'home_game',
       'season', 'CONF', 'SOR', 'FPI', 'AP/CFP', 'SOS', 'GC', 'AVGWP'],
      dtype='object')

In [118]:
df1['Team'].unique()

array(['Air Force Falcons', 'Akron Zips', 'Alabama Crimson Tide',
       'App State Mountaineers', 'Arizona State Sun Devils',
       'Arizona Wildcats', 'Arkansas Razorbacks',
       'Arkansas State Red Wolves', 'Army Black Knights', 'Auburn Tigers',
       'Ball State Cardinals', 'Baylor Bears', 'Boise State Broncos',
       'Boston College Eagles', 'Bowling Green Falcons', 'Buffalo Bulls',
       'BYU Cougars', 'California Golden Bears',
       'Central Michigan Chippewas', 'Charlotte 49ers',
       'Cincinnati Bearcats', 'Clemson Tigers',
       'Coastal Carolina Chanticleers', 'Colorado Buffaloes',
       'Colorado State Rams', 'Duke Blue Devils', 'East Carolina Pirates',
       'Eastern Michigan Eagles', 'Florida Atlantic Owls',
       'Florida Gators', 'Florida International Panthers',
       'Florida State Seminoles', 'Fresno State Bulldogs',
       'Georgia Bulldogs', 'Georgia Southern Eagles',
       'Georgia State Panthers', 'Georgia Tech Yellow Jackets',
       "Hawai'i Rainbow Warriors", 'Houston Cougars',
       'Illinois Fighting Illini', 'Indiana Hoosiers', 'Iowa Hawkeyes',
       'Iowa State Cyclones', 'Jacksonville State Gamecocks',
       'James Madison Dukes', 'Kansas Jayhawks', 'Kansas State Wildcats',
       'Kennesaw State Owls', 'Kent State Golden Flashes',
       'Kentucky Wildcats', 'Liberty Flames', "Louisiana Ragin' Cajuns",
       'Louisiana Tech Bulldogs', 'Louisville Cardinals', 'LSU Tigers',
       'Marshall Thundering Herd', 'Maryland Terrapins',
       'Massachusetts Minutemen', 'Memphis Tigers', 'Miami (OH) RedHawks',
       'Miami Hurricanes', 'Michigan State Spartans',
       'Michigan Wolverines', 'Middle Tennessee Blue Raiders',
       'Minnesota Golden Gophers', 'Mississippi State Bulldogs',
       'Missouri Tigers', 'Navy Midshipmen', 'NC State Wolfpack',
       'Nebraska Cornhuskers', 'Nevada Wolf Pack', 'New Mexico Lobos',
       'New Mexico State Aggies', 'North Carolina Tar Heels',
       'North Texas Mean Green', 'Northern Illinois Huskies',
       'Northwestern Wildcats', 'Notre Dame Fighting Irish',
       'Ohio Bobcats', 'Ohio State Buckeyes', 'Oklahoma Sooners',
       'Oklahoma State Cowboys', 'Old Dominion Monarchs',
       'Ole Miss Rebels', 'Oregon Ducks', 'Oregon State Beavers',
       'Penn State Nittany Lions', 'Pittsburgh Panthers',
       'Purdue Boilermakers', 'Rice Owls', 'Rutgers Scarlet Knights',
       'Sam Houston Bearkats', 'San Diego State Aztecs',
       'San José State Spartans', 'SMU Mustangs', 'South Alabama Jaguars',
       'South Carolina Gamecocks', 'South Florida Bulls',
       'Southern Miss Golden Eagles', 'Stanford Cardinal',
       'Syracuse Orange', 'TCU Horned Frogs', 'Temple Owls',
       'Tennessee Volunteers', 'Texas A&M Aggies', 'Texas Longhorns',
       'Texas State Bobcats', 'Texas Tech Red Raiders', 'Toledo Rockets',
       'Troy Trojans', 'Tulane Green Wave', 'Tulsa Golden Hurricane',
       'UAB Blazers', 'UCF Knights', 'UCLA Bruins', 'UConn Huskies',
       'UL Monroe Warhawks', 'UNLV Rebels', 'USC Trojans',
       'Utah State Aggies', 'Utah Utes', 'UTEP Miners',
       'UTSA Roadrunners', 'Vanderbilt Commodores', 'Virginia Cavaliers',
       'Virginia Tech Hokies', 'Wake Forest Demon Deacons',
       'Washington Huskies', 'Washington State Cougars',
       'West Virginia Mountaineers', 'Western Kentucky Hilltoppers',
       'Western Michigan Broncos', 'Wisconsin Badgers', 'Wyoming Cowboys'],
      dtype=object)

In [142]:
df1['Team'].value_counts()
team_values = df1['Team'].value_counts()
team_sorted_values = team_values.sort_index(ascending = True)
print(team_sorted_values)

Team
Air Force Falcons                 54
Akron Zips                        41
Alabama Crimson Tide              64
App State Mountaineers             9
Arizona State Sun Devils          49
Arizona Wildcats                  53
Arkansas Razorbacks               59
Arkansas State Red Wolves         56
Army Black Knights                60
Auburn Tigers                     60
BYU Cougars                       60
Ball State Cardinals              39
Baylor Bears                      58
Boise State Broncos               58
Boston College Eagles             57
Bowling Green Falcons             36
Buffalo Bulls                     39
California Golden Bears           52
Central Michigan Chippewas        38
Charlotte 49ers                   51
Cincinnati Bearcats               61
Clemson Tigers                    63
Coastal Carolina Chanticleers     50
Colorado Buffaloes                53
Colorado State Rams               50
Duke Blue Devils                  57
East Carolina Pirates             53
Eastern Michigan Eagles           43
Florida Atlantic Owls             53
Florida Gators                    59
Florida International Panthers    43
Florida State Seminoles           55
Fresno State Bulldogs             55
Georgia Bulldogs                  65
Georgia Southern Eagles           56
Georgia State Panthers            52
Georgia Tech Yellow Jackets       56
Hawai'i Rainbow Warriors          58
Houston Cougars                   54
Illinois Fighting Illini          54
Indiana Hoosiers                  57
Iowa Hawkeyes                     60
Iowa State Cyclones               63
Jacksonville State Gamecocks      18
James Madison Dukes               34
Kansas Jayhawks                   56
Kansas State Wildcats             60
Kennesaw State Owls                9
Kent State Golden Flashes         38
Kentucky Wildcats                 62
LSU Tigers                        56
Liberty Flames                    54
Louisiana Ragin' Cajuns           55
Louisiana Tech Bulldogs           49
Louisville Cardinals              57
Marshall Thundering Herd          56
Maryland Terrapins                55
Massachusetts Minutemen           52
Memphis Tigers                    55
Miami (OH) RedHawks               43
Miami Hurricanes                  56
Michigan State Spartans           55
Michigan Wolverines               59
Middle Tennessee Blue Raiders     52
Minnesota Golden Gophers          52
Mississippi State Bulldogs        55
Missouri Tigers                   57
NC State Wolfpack                 55
Navy Midshipmen                   56
Nebraska Cornhuskers              56
Nevada Wolf Pack                  56
New Mexico Lobos                  53
New Mexico State Aggies           43
North Carolina Tar Heels          60
North Texas Mean Green            59
Northern Illinois Huskies         40
Northwestern Wildcats             57
Notre Dame Fighting Irish         63
Ohio Bobcats                      41
Ohio State Buckeyes               59
Oklahoma Sooners                  59
Oklahoma State Cowboys            60
Old Dominion Monarchs             47
Ole Miss Rebels                   56
Oregon Ducks                      58
Oregon State Beavers              57
Penn State Nittany Lions          60
Pittsburgh Panthers               56
Purdue Boilermakers               54
Rice Owls                         52
Rutgers Scarlet Knights           56
SMU Mustangs                      58
Sam Houston Bearkats              15
San Diego State Aztecs            58
San José State Spartans           49
South Alabama Jaguars             51
South Carolina Gamecocks          58
South Florida Bulls               55
Southern Miss Golden Eagles       46
Stanford Cardinal                 54
Syracuse Orange                   58
TCU Horned Frogs                  60
Temple Owls                       52
Tennessee Volunteers              58
Texas A&M Aggies                  59
Texas Longhorns                   61
Texas State Bobcats               58
Texas Tech Red Raiders            59
Toledo Rockets                    42
Troy Trojans                      58
Tulane Green Wave                 55
Tulsa Golden Hurricane            48
UAB Blazers                       52
UCF Knights                       53
UCLA Bruins                       56
UConn Huskies                     48
UL Monroe Warhawks                57
UNLV Rebels                       54
USC Trojans                       54
UTEP Miners                       49
UTSA Roadrunners                  63
Utah State Aggies                 53
Utah Utes                         53
Vanderbilt Commodores             58
Virginia Cavaliers                53
Virginia Tech Hokies              55
Wake Forest Demon Deacons         55
Washington Huskies                53
Washington State Cougars          53
West Virginia Mountaineers        53
Western Kentucky Hilltoppers      55
Western Michigan Broncos          38
Wisconsin Badgers                 54
Wyoming Cowboys                   55
Name: count, dtype: int64

In [120]:
df1['Team'].isna().sum()

np.int64(0)

In [131]:
df1['date'].isna().sum()

np.int64(0)

In [132]:
df1['date'].unique()

array(['Sat, Aug 31', 'Sat, Nov 9', 'Sat, Nov 30', 'Sat, Sep 14',
       'Sat, Sep 28', 'Sat, Oct 5', 'Sat, Sep 7', 'Sat, Oct 19',
       'Sat, Nov 2', 'Sat, Oct 12', 'Sat, Nov 23', 'Sat, Nov 16',
       'Sat, Sep 21', 'Sat, Oct 26', 'Fri, Oct 11', 'Sat, Dec 7',
       'Fri, Sep 13', 'Fri, Nov 15', 'Fri, Dec 27', 'Fri, Aug 30',
       'Sat, Dec 14', 'Fri, Dec 6', 'Sat, Dec 28', 'Fri, Nov 29',
       'Fri, Oct 25', 'Fri, Nov 1', 'Sat, Jan 4', 'Fri, Sep 6',
       'Fri, Oct 18', 'Fri, Nov 8', 'Sat, Dec 21', 'Fri, Dec 20',
       'Sat, Aug 24', 'Fri, Oct 4', 'Fri, Sep 20', 'Fri, Sep 27',
       'Fri, Nov 22', 'Fri, Jan 3', 'Fri, Jan 10', 'Sat, Oct 21',
       'Sat, Sep 9', 'Sat, Nov 18', 'Sat, Oct 28', 'Sat, Nov 4',
       'Sat, Sep 2', 'Fri, Sep 15', 'Fri, Nov 24', 'Sat, Dec 23',
       'Sat, Nov 11', 'Fri, Sep 22', 'Sat, Sep 30', 'Sat, Oct 14',
       'Sat, Sep 16', 'Sat, Oct 7', 'Sat, Sep 23', 'Sat, Nov 25',
       'Sat, Dec 2', 'Sat, Dec 9', 'Sat, Dec 30', 'Sat, Dec 16',
       'Fri, Nov 3', 'Fri, Sep 29', 'Fri, Sep 1', 'Fri, Oct 27',
       'Fri, Dec 29', 'Fri, Nov 17', 'Fri, Oct 13', 'Sat, Aug 26',
       'Fri, Dec 22', 'Fri, Sep 8', 'Fri, Oct 6', 'Fri, Dec 1',
       'Fri, Nov 10', 'Fri, Oct 20', 'Sat, Oct 22', 'Sat, Nov 5',
       'Sat, Oct 8', 'Sat, Oct 1', 'Sat, Oct 15', 'Sat, Sep 10',
       'Fri, Sep 23', 'Sat, Nov 12', 'Sat, Sep 3', 'Sat, Nov 26',
       'Fri, Sep 16', 'Sat, Nov 19', 'Sat, Sep 17', 'Sat, Sep 24',
       'Sat, Oct 29', 'Fri, Dec 2', 'Sat, Dec 31', 'Fri, Nov 25',
       'Sat, Dec 10', 'Fri, Sep 30', 'Fri, Sep 9', 'Sat, Dec 3',
       'Sat, Dec 17', 'Fri, Nov 4', 'Fri, Oct 28', 'Fri, Sep 2',
       'Sat, Aug 27', 'Fri, Nov 11', 'Fri, Dec 30', 'Fri, Oct 7',
       'Fri, Oct 14', 'Fri, Dec 23', 'Fri, Dec 16', 'Sat, Dec 24',
       'Fri, Nov 18', 'Fri, Oct 21', 'Sat, Sep 18', 'Sat, Sep 4',
       'Sat, Sep 25', 'Sat, Sep 11', 'Fri, Nov 26', 'Sat, Oct 16',
       'Sat, Oct 2', 'Sat, Oct 9', 'Sat, Nov 13', 'Fri, Nov 19',
       'Sat, Oct 23', 'Sat, Nov 6', 'Sat, Nov 27', 'Sat, Nov 20',
       'Sat, Dec 4', 'Fri, Dec 31', 'Fri, Oct 8', 'Sat, Oct 30',
       'Fri, Oct 22', 'Sat, Jan 1', 'Sat, Dec 11', 'Sat, Dec 25',
       'Fri, Sep 10', 'Fri, Nov 12', 'Fri, Nov 5', 'Fri, Oct 1',
       'Sat, Dec 18', 'Fri, Oct 15', 'Fri, Sep 3', 'Fri, Sep 24',
       'Fri, Dec 17', 'Sat, Aug 28', 'Fri, Sep 17', 'Fri, Oct 29',
       'Fri, Dec 3', 'Sat, Oct 31', 'Sat, Dec 19', 'Sat, Oct 24',
       'Fri, Nov 20', 'Sat, Oct 3', 'Sat, Nov 28', 'Sat, Dec 5',
       'Sat, Dec 12', 'Sat, Nov 21', 'Fri, Jan 1', 'Sat, Sep 26',
       'Sat, Oct 17', 'Sat, Oct 10', 'Sat, Nov 7', 'Fri, Dec 11',
       'Sat, Nov 14', 'Sat, Sep 5', 'Sat, Sep 12', 'Fri, Dec 18',
       'Fri, Nov 6', 'Sat, Sep 19', 'Fri, Dec 25', 'Fri, Oct 2',
       'Fri, Oct 16', 'Fri, Nov 27', 'Fri, Nov 13', 'Fri, Sep 18',
       'Sat, Dec 26', 'Fri, Oct 30', 'Fri, Oct 23', 'Fri, Oct 9',
       'Sat, Jan 2', 'Fri, Dec 4', 'Fri, Sep 25'], dtype=object)

In [141]:
df1['date'].value_counts()
date_values = df1['date'].value_counts()
date_sorted_values = date_values.sort_index(ascending = True)
print(date_sorted_values)

date
Fri, Aug 30     10
Fri, Dec 1       4
Fri, Dec 11      6
Fri, Dec 16      4
Fri, Dec 17      4
Fri, Dec 18      8
Fri, Dec 2       6
Fri, Dec 20      6
Fri, Dec 22      2
Fri, Dec 23      5
Fri, Dec 25      2
Fri, Dec 27     10
Fri, Dec 29      8
Fri, Dec 3       4
Fri, Dec 30      9
Fri, Dec 31      9
Fri, Dec 4       1
Fri, Dec 6       6
Fri, Jan 1       8
Fri, Jan 10      2
Fri, Jan 3       4
Fri, Nov 1       6
Fri, Nov 10      4
Fri, Nov 11      6
Fri, Nov 12      4
Fri, Nov 13      6
Fri, Nov 15      8
Fri, Nov 17      4
Fri, Nov 18      4
Fri, Nov 19     10
Fri, Nov 20      8
Fri, Nov 22      6
Fri, Nov 24     26
Fri, Nov 25     25
Fri, Nov 26     31
Fri, Nov 27     18
Fri, Nov 29     28
Fri, Nov 3       4
Fri, Nov 4       6
Fri, Nov 5       4
Fri, Nov 6       5
Fri, Nov 8       9
Fri, Oct 1       6
Fri, Oct 11      6
Fri, Oct 13      6
Fri, Oct 14      4
Fri, Oct 15      8
Fri, Oct 16      4
Fri, Oct 18      8
Fri, Oct 2       4
Fri, Oct 20      2
Fri, Oct 21      4
Fri, Oct 22      8
Fri, Oct 23      7
Fri, Oct 25      6
Fri, Oct 27      2
Fri, Oct 28      4
Fri, Oct 29      4
Fri, Oct 30      6
Fri, Oct 4       8
Fri, Oct 6       4
Fri, Oct 7       8
Fri, Oct 8       6
Fri, Oct 9       2
Fri, Sep 1      10
Fri, Sep 10      6
Fri, Sep 13      4
Fri, Sep 15      6
Fri, Sep 16      4
Fri, Sep 17      4
Fri, Sep 18      1
Fri, Sep 2      13
Fri, Sep 20      6
Fri, Sep 22      7
Fri, Sep 23      6
Fri, Sep 24      9
Fri, Sep 25      2
Fri, Sep 27      4
Fri, Sep 29      7
Fri, Sep 3      13
Fri, Sep 30     10
Fri, Sep 6       5
Fri, Sep 8       3
Fri, Sep 9       4
Sat, Aug 24      6
Sat, Aug 26     14
Sat, Aug 27     18
Sat, Aug 28      9
Sat, Aug 31     96
Sat, Dec 10      2
Sat, Dec 11      2
Sat, Dec 12     64
Sat, Dec 14      4
Sat, Dec 16     11
Sat, Dec 17     12
Sat, Dec 18     11
Sat, Dec 19     30
Sat, Dec 2      15
Sat, Dec 21      6
Sat, Dec 23     14
Sat, Dec 24      2
Sat, Dec 25      2
Sat, Dec 26      6
Sat, Dec 28     15
Sat, Dec 3      17
Sat, Dec 30      8
Sat, Dec 31      8
Sat, Dec 4      18
Sat, Dec 5      80
Sat, Dec 7      12
Sat, Dec 9       2
Sat, Jan 1      10
Sat, Jan 2       7
Sat, Jan 4       2
Sat, Nov 11    108
Sat, Nov 12    106
Sat, Nov 13    104
Sat, Nov 14     65
Sat, Nov 16     87
Sat, Nov 18    115
Sat, Nov 19    109
Sat, Nov 2      78
Sat, Nov 20    105
Sat, Nov 21     62
Sat, Nov 23    110
Sat, Nov 25     97
Sat, Nov 26     94
Sat, Nov 27     90
Sat, Nov 28     66
Sat, Nov 30    100
Sat, Nov 4     107
Sat, Nov 5     102
Sat, Nov 6     103
Sat, Nov 7      73
Sat, Nov 9      79
Sat, Oct 1     105
Sat, Oct 10     51
Sat, Oct 12     88
Sat, Oct 14     90
Sat, Oct 15     93
Sat, Oct 16     88
Sat, Oct 17     47
Sat, Oct 19     96
Sat, Oct 2     113
Sat, Oct 21     92
Sat, Oct 22     96
Sat, Oct 23     89
Sat, Oct 24     81
Sat, Oct 26     96
Sat, Oct 28     93
Sat, Oct 29     85
Sat, Oct 3      55
Sat, Oct 30     97
Sat, Oct 31     75
Sat, Oct 5      86
Sat, Oct 7      88
Sat, Oct 8     103
Sat, Oct 9      93
Sat, Sep 10    124
Sat, Sep 11    120
Sat, Sep 12     32
Sat, Sep 14    108
Sat, Sep 16    119
Sat, Sep 17    117
Sat, Sep 18    116
Sat, Sep 19     32
Sat, Sep 2      98
Sat, Sep 21    109
Sat, Sep 23    120
Sat, Sep 24    114
Sat, Sep 25    114
Sat, Sep 26     50
Sat, Sep 28    101
Sat, Sep 3      88
Sat, Sep 30    100
Sat, Sep 4      93
Sat, Sep 5       9
Sat, Sep 7     122
Sat, Sep 9     127
Name: count, dtype: int64

In [121]:
df1['opponent'].unique()

array(['Merrimack', 'Fresno State', 'San Diego State', 'Baylor',
       'Wyoming', 'Navy', 'San José State', 'Colorado State', ' Army',
       'New Mexico', 'Nevada', 'Oregon State', 'South Carolina',
       ' Ohio State', 'Rutgers', 'Colgate', 'Bowling Green',
       'Western Michigan', 'Eastern Michigan', 'Ohio', 'Buffalo',
       'Oklahoma', 'Auburn', 'Western Kentucky', 'South Florida',
       'Wisconsin', ' Georgia', 'Vanderbilt', ' Tennessee', ' Missouri',
       ' LSU', 'Mercer', 'East Tennessee State', 'Georgia Southern',
       'Louisiana', 'East Carolina', 'Marshall', ' Clemson',
       'Old Dominion', 'James Madison', 'Georgia State', ' Utah',
       'Arizona', 'UCF', ' Kansas State', ' BYU', 'Mississippi State',
       'Texas Tech', 'Kansas', 'Cincinnati', 'Oklahoma State',
       ' Iowa State ', 'Colorado', 'Northern Arizona', 'Houston', 'TCU',
       'West Virginia', ' Arizona State', ' Ole Miss', 'Louisiana Tech',
       'Texas Tech ', ' Oklahoma State', 'UAB', ' Texas A&M ', ' Texas',
       'Central Arkansas', ' Iowa State', 'Tulsa', ' Michigan', 'Troy',
       'South Alabama', 'Texas State', 'Southern Miss', 'UL Monroe',
       'Lehigh', 'Florida Atlantic', 'Rice', 'North Texas', 'Air Force',
       'Navy ', ' Notre Dame ', 'UTSA', 'Tulane', 'Louisiana Tech ',
       'California', 'Alabama A&M', ' Texas A&M', ' Alabama', 'Arkansas',
       ' Oklahoma', 'Kentucky', 'Northern Illinois', 'Missouri State',
       ' Miami', 'Central Michigan', 'Kent State', 'Tarleton State',
       'Utah State', 'UNLV', ' Oregon', 'Portland State',
       'Washington State', ' UNLV', "Hawai'i", 'Michigan State',
       'Nebraska ', 'Duquesne', 'Virginia', 'Louisville', 'Syracuse',
       'North Carolina', 'Pittsburgh', ' SMU', ' Penn State',
       'Miami (OH)', 'Akron', 'Ball State', 'Toledo', 'UConn',
       'Massachusetts', ' Northern Illinois', 'Liberty ', ' Colorado ',
       'Southern Illinois', 'SMU', 'Utah', 'NC State', 'Stanford',
       'UC Davis', 'Florida State', ' Pittsburgh', 'Wake Forest',
       'Illinois', 'Florida International', 'Indiana', 'Gardner-Webb',
       ' Navy', 'Memphis', 'Towson', 'Arizona State', 'Iowa State',
       'Kansas State', ' SMU ', ' Georgia ', 'App State', 'Virginia Tech',
       'The Citadel', ' South Carolina', 'William & Mary', 'Temple',
       'Nebraska', ' BYU ', 'Northern Colorado', 'UTEP', 'Miami (OH) ',
       'Elon', 'Northwestern', 'Middle Tennessee', 'Georgia Tech',
       'Norfolk State', 'Liberty', 'Charlotte', 'NC State ', 'Washington',
       'Jacksonville State', 'St. Francis (PA)', 'Army', 'Wagner',
       'Samford', 'Texas A&M', 'Tulane ', 'Monmouth', 'Kennesaw State',
       'Florida', 'Georgia Tech ', 'Duke', 'Charleston Southern',
       ' Notre Dame', 'Sacramento State', 'New Mexico State', 'UCLA',
       'Tennessee Tech', ' Clemson ', 'Florida ', ' Texas ',
       'Boise State', 'South Carolina State', 'Coastal Carolina',
       'Chattanooga', 'Arkansas State', ' Florida State ', 'Vanderbilt ',
       'VMI', ' Louisville', 'Delaware State', 'Sam Houston',
       'Northern Iowa', ' Boise State', ' Nebraska', 'Minnesota',
       ' Kansas', 'Northwestern ', 'Purdue', 'Western Illinois',
       'Maryland', 'Michigan', 'Illinois State', 'North Dakota',
       ' Arizona State ', ' Miami ', ' Iowa', 'Ohio ', ' Colorado',
       'UT Martin', ' Arizona', 'BYU', 'Murray State', 'Campbell',
       'Buffalo ', 'Grambling', 'TCU ', ' Army ', 'Nicholls',
       'Austin Peay', 'Boston College', 'Stony Brook', 'Villanova', 'USC',
       'Iowa', 'Central Connecticut', 'North Alabama', 'Colorado State ',
       'Florida A&M', 'Prairie View A&M', ' Indiana', ' Illinois', ' USC',
       'Virginia Tech ', 'Rhode Island', 'Eastern Kentucky',
       ' Boston College', ' Tulane', 'Oklahoma ', 'Bucknell',
       'Boston College ', 'Eastern Washington', 'Montana State',
       ' Washington State', 'Southeast Missouri State',
       'North Carolina Central', 'UConn ', 'Texas State ',
       'Stephen F. Austin', ' Illinois ', 'Eastern Illinois', ' Navy ',
       'Morgan State', 'Jacksonville State ', 'Maine', 'LSU',
       'South Dakota State', 'Furman', 'Idaho', ' Penn State ',
       'Idaho State', ' Oregon ', 'Youngstown State', 'Indiana State',
       'Texas Southern', 'East Texas A&M', 'Houston Christian',
       'Western Michigan ', 'Wofford', 'Bethune-Cookman', 'SE Louisiana',
       'Cal Poly', ' Georgia Tech', 'Holy Cross', 'Washington State ',
       'Long Island University', 'Louisiana ', ' NC State ', 'McNeese',
       'Arkansas ', 'USC ', ' Ohio State ', ' Oklahoma ', ' Vanderbilt',
       'Lamar', 'North Texas ', 'Sam Houston ', 'Abilene Christian',
       'North Carolina ', 'Utah Tech', 'Texas A&M ', 'Robert Morris',
       'Southern Utah', 'Alcorn State', 'Richmond', 'Minnesota ',
       'Weber State', 'Washington ', ' Syracuse ', 'UAlbany',
       'South Alabama ', 'South Dakota', 'Army ', 'James Madison ',
       ' Washington', ' UCLA', ' Oregon State', 'Western Carolina',
       'Northern Illinois ', ' Air Force ', 'Maryland ', 'UCLA ',
       ' Florida State', 'Miami', ' Wisconsin', 'Fordham',
       'New Hampshire', ' Florida', 'Kentucky ', ' North Carolina',
       'San José State ', ' TCU', ' Air Force', 'Troy ', 'Lafayette',
       'Appalachian State', 'Howard', 'Clemson', ' Duke', ' Louisville ',
       'New Mexico State ', ' Kentucky', ' Alabama ', 'Utah State ',
       'Louisville ', 'UCF ', ' Michigan ', 'Memphis ', 'Air Force ',
       'Missouri', 'Northwestern State', 'Indiana ', 'Auburn ',
       'Iowa State ', 'Missouri ', 'Toledo ', 'Appalachian State ',
       ' Iowa ', ' Fresno State', 'Fresno State ', ' Liberty',
       'South Carolina ', ' NC State', 'Arkansas State ', 'Utah ',
       'Iowa ', ' Oregon State ', 'Tennessee State', 'Georgia Southern ',
       ' Missouri ', 'Texas A&M-Commerce', ' James Madison',
       ' Washington ', 'Delaware', ' Ole Miss ', 'Syracuse ',
       'Coastal Carolina ', ' North Carolina ', 'Pittsburgh ',
       'Virginia ', ' Oklahoma State ', 'Jackson State', 'California ',
       'Wyoming ', 'Duke ', 'Boise State ', 'Sacred Heart', 'Bryant',
       'Georgia State ', 'Incarnate Word', ' Tennessee ',
       ' Michigan State', 'Texas', ' Mississippi State', ' Kansas State ',
       ' Arkansas', 'North Dakota State', ' Cincinnati', ' Wake Forest',
       'Albany', 'Notre Dame ', 'SMU ', ' Baylor', 'Notre Dame',
       ' Syracuse', 'North Carolina A&T', 'South Florida ', ' LSU ',
       ' TCU ', 'Houston ', 'Cincinnati ', 'Southern', 'Tennessee',
       ' UCF', 'UAB ', 'Purdue ', 'San Diego State ', 'Wake Forest ',
       'Valparaiso', 'BYU ', 'Penn State', 'Texas ',
       'Arkansas-Pine Bluff', 'Montana State ', ' Minnesota',
       'Southern Miss ', 'Middle Tennessee ', 'Georgia', 'East Carolina ',
       'Rice ', 'Tarleton', ' Arkansas ', ' Houston', 'UTSA ',
       'Alabama State', ' Utah ', ' USC ', ' San Diego State',
       ' Cincinnati ', 'Penn State ', 'Ole Miss', ' Coastal Carolina',
       'Arizona ', 'Alabama', 'UTEP ', ' Auburn', 'Ball State ',
       'Ohio State', ' Kentucky ', 'Stanford ', 'Eastern Michigan ',
       'Marshall ', ' UTSA', ' Louisiana ', ' Pittsburgh ', 'Rutgers ',
       'Kent State ', ' Wisconsin ', ' Purdue', ' Baylor ', 'Hampton',
       ' Wake Forest ', 'Oregon', 'Kansas State ', 'Colorado ',
       ' Louisiana', 'Yale', 'Oregon State ', 'Montana',
       'Central Michigan ', ' Virginia Tech', ' Florida ',
       ' Northwestern ', ' Tulsa', ' Marshall', 'New Mexico ',
       'Western Kentucky ', ' Northwestern', 'Ole Miss ',
       ' Coastal Carolina ', 'Southern Mississippi', 'Houston Baptist',
       ' Appalachian State', 'Nevada ', 'Ohio State ', ' Indiana ',
       ' Memphis'], dtype=object)

In [140]:
df1['opponent'].value_counts()
opponent_values = df1['opponent'].value_counts()
opponent_sorted_values = values.sort_index(ascending = True)
print(opponent_sorted_values)

opponent
 Air Force                   2
 Air Force                   1
 Alabama                    52
 Alabama                     7
 Appalachian State           1
 Arizona                     5
 Arizona State               5
 Arizona State               1
 Arkansas                    9
 Arkansas                    3
 Army                        5
 Army                        3
 Auburn                     10
 BYU                        27
 BYU                         2
 Baylor                     10
 Baylor                      2
 Boise State                12
 Boston College              1
 Cincinnati                 20
 Cincinnati                  2
 Clemson                    31
 Clemson                     8
 Coastal Carolina            9
 Coastal Carolina            1
 Colorado                    8
 Colorado                    1
 Duke                        5
 Florida                    19
 Florida                     2
 Florida State              16
 Florida State               3
 Fresno State                5
 Georgia                    41
 Georgia                    16
 Georgia Tech                1
 Houston                     4
 Illinois                   11
 Illinois                    1
 Indiana                    15
 Indiana                     1
 Iowa                       22
 Iowa                        3
 Iowa State                 21
 Iowa State                  4
 James Madison               2
 Kansas                      8
 Kansas State               27
 Kansas State                2
 Kentucky                   12
 Kentucky                    1
 LSU                        24
 LSU                         1
 Liberty                     3
 Louisiana                   4
 Louisiana                   2
 Louisville                 14
 Louisville                  1
 Marshall                    4
 Memphis                     1
 Miami                      25
 Miami                       2
 Michigan                   42
 Michigan                    5
 Michigan State             10
 Minnesota                   2
 Mississippi State           3
 Missouri                   18
 Missouri                    1
 NC State                   20
 NC State                    3
 Navy                        1
 Navy                        1
 Nebraska                    1
 North Carolina             22
 North Carolina              4
 Northern Illinois           1
 Northwestern                4
 Northwestern                1
 Notre Dame                 43
 Notre Dame                 10
 Ohio State                 51
 Ohio State                  5
 Oklahoma                   35
 Oklahoma                    4
 Oklahoma State             33
 Oklahoma State              3
 Ole Miss                   39
 Ole Miss                    2
 Oregon                     47
 Oregon                      5
 Oregon State               13
 Oregon State                2
 Penn State                 41
 Penn State                  2
 Pittsburgh                 12
 Pittsburgh                  2
 Purdue                      2
 SMU                        13
 SMU                         1
 San Diego State             6
 South Carolina              3
 Syracuse                    3
 Syracuse                    1
 TCU                         9
 TCU                         2
 Tennessee                  34
 Tennessee                   2
 Texas                      38
 Texas                       7
 Texas A&M                  29
 Texas A&M                   4
 Tulane                     15
 Tulsa                       2
 UCF                         8
 UCLA                       13
 UNLV                        4
 USC                        33
 USC                         1
 UTSA                        4
 Utah                       28
 Utah                        3
 Vanderbilt                  1
 Virginia Tech               5
 Wake Forest                11
 Wake Forest                 2
 Washington                 19
 Washington                  1
 Washington State            5
 Wisconsin                  13
 Wisconsin                   1
Abilene Christian            8
Air Force                   43
Air Force                    4
Akron                       38
Alabama                      1
Alabama A&M                  3
Alabama State                2
Albany                       2
Alcorn State                 4
App State                    8
Appalachian State           35
Appalachian State            2
Arizona                     43
Arizona                      1
Arizona State               43
Arkansas                    41
Arkansas                     3
Arkansas State              49
Arkansas State               1
Arkansas-Pine Bluff          2
Army                        39
Army                         6
Auburn                      44
Auburn                       2
Austin Peay                  7
BYU                         23
BYU                          3
Ball State                  34
Ball State                   2
Baylor                      42
Bethune-Cookman              6
Boise State                 40
Boise State                  3
Boston College              51
Boston College               1
Bowling Green               33
Bryant                       2
Bucknell                     4
Buffalo                     34
Buffalo                      3
Cal Poly                     3
California                  47
California                   1
Campbell                     8
Central Arkansas             5
Central Connecticut          4
Central Michigan            34
Central Michigan             1
Charleston Southern          4
Charlotte                   46
Chattanooga                  5
Cincinnati                  32
Cincinnati                   2
Clemson                     20
Coastal Carolina            33
Coastal Carolina             2
Colgate                      5
Colorado                    42
Colorado                     1
Colorado State              45
Colorado State               1
Delaware                     3
Delaware State               3
Duke                        47
Duke                         1
Duquesne                     7
East Carolina               45
East Carolina                1
East Tennessee State         4
East Texas A&M               1
Eastern Illinois             3
Eastern Kentucky            10
Eastern Michigan            38
Eastern Michigan             1
Eastern Washington           3
Elon                         2
Florida                     29
Florida                      6
Florida A&M                  5
Florida Atlantic            49
Florida International       40
Florida State               31
Fordham                      4
Fresno State                43
Fresno State                 4
Furman                       3
Gardner-Webb                 8
Georgia                      4
Georgia Southern            46
Georgia Southern             1
Georgia State               45
Georgia State                3
Georgia Tech                45
Georgia Tech                 6
Grambling                    5
Hampton                      1
Hawai'i                     53
Holy Cross                   5
Houston                     47
Houston                      2
Houston Baptist              3
Houston Christian            4
Howard                       4
Idaho                        8
Idaho State                  7
Illinois                    42
Illinois State               3
Incarnate Word               3
Indiana                     36
Indiana                      1
Indiana State                5
Iowa                        31
Iowa                         2
Iowa State                  33
Iowa State                   1
Jackson State                2
Jacksonville State          19
Jacksonville State           2
James Madison               26
James Madison                1
Kansas                      45
Kansas State                26
Kansas State                 1
Kennesaw State              11
Kent State                  33
Kent State                   1
Kentucky                    42
Kentucky                     2
LSU                         27
Lafayette                    3
Lamar                        5
Lehigh                       1
Liberty                     42
Liberty                      3
Long Island University       6
Louisiana                   41
Louisiana                    3
Louisiana Tech              40
Louisiana Tech               1
Louisville                  37
Louisville                   3
Maine                        6
Marshall                    40
Marshall                     2
Maryland                    50
Maryland                     1
Massachusetts               46
McNeese                      4
Memphis                     47
Memphis                      2
Mercer                       5
Merrimack                    3
Miami                       23
Miami (OH)                  34
Miami (OH)                   5
Michigan                    12
Michigan State              42
Middle Tennessee            46
Middle Tennessee             2
Minnesota                   47
Minnesota                    1
Mississippi State           47
Missouri                    34
Missouri                     3
Missouri State               5
Monmouth                     3
Montana                      1
Montana State                2
Montana State                1
Morgan State                 4
Murray State                 6
NC State                    35
NC State                     1
Navy                        44
Navy                         7
Nebraska                    50
Nebraska                     2
Nevada                      50
Nevada                       2
New Hampshire                3
New Mexico                  47
New Mexico                   3
New Mexico State            37
New Mexico State             1
Nicholls                     8
Norfolk State                7
North Alabama                5
North Carolina              25
North Carolina               1
North Carolina A&T           2
North Carolina Central       3
North Dakota                 4
North Dakota State           1
North Texas                 51
North Texas                  2
Northern Arizona             3
Northern Colorado            4
Northern Illinois           32
Northern Illinois            3
Northern Iowa                5
Northwestern                42
Northwestern                 6
Northwestern State           4
Notre Dame                   7
Notre Dame                   2
Ohio                        32
Ohio                         5
Ohio State                   1
Ohio State                   1
Oklahoma                    14
Oklahoma                     3
Oklahoma State              20
Old Dominion                45
Ole Miss                    11
Ole Miss                     1
Oregon                       2
Oregon State                37
Oregon State                 1
Penn State                  14
Penn State                   1
Pittsburgh                  36
Pittsburgh                   2
Portland State               7
Prairie View A&M             3
Purdue                      48
Purdue                       2
Rhode Island                 3
Rice                        46
Rice                         1
Richmond                     4
Robert Morris                4
Rutgers                     52
Rutgers                      2
SE Louisiana                 6
SMU                         38
SMU                          1
Sacramento State             4
Sacred Heart                 1
Sam Houston                 13
Sam Houston                  2
Samford                      4
San Diego State             47
San Diego State              1
San José State              44
San José State               3
South Alabama               46
South Alabama                1
South Carolina              50
South Carolina               2
South Carolina State         5
South Dakota                 3
South Dakota State           3
South Florida               49
South Florida                1
Southeast Missouri State     4
Southern                     2
Southern Illinois            4
Southern Miss               40
Southern Miss                1
Southern Mississippi         7
Southern Utah                4
St. Francis (PA)             3
Stanford                    50
Stanford                     1
Stephen F. Austin            8
Stony Brook                  4
Syracuse                    49
Syracuse                     1
TCU                         44
TCU                          1
Tarleton                     1
Tarleton State               2
Temple                      49
Tennessee                   17
Tennessee State              3
Tennessee Tech               5
Texas                       15
Texas                        1
Texas A&M                   18
Texas A&M                    3
Texas A&M-Commerce           1
Texas Southern               7
Texas State                 50
Texas State                  2
Texas Tech                  50
Texas Tech                   3
The Citadel                  5
Toledo                      36
Toledo                       4
Towson                       4
Troy                        47
Troy                         2
Tulane                      35
Tulane                       1
Tulsa                       45
UAB                         50
UAB                          2
UAlbany                      3
UC Davis                     3
UCF                         42
UCF                          1
UCLA                        39
UCLA                         2
UConn                       42
UConn                        1
UL Monroe                   51
UNLV                        47
USC                         19
USC                          1
UT Martin                    5
UTEP                        43
UTEP                         1
UTSA                        52
UTSA                         2
Utah                        19
Utah                         1
Utah State                  47
Utah State                   2
Utah Tech                    3
VMI                          2
Valparaiso                   1
Vanderbilt                  54
Vanderbilt                   1
Villanova                    4
Virginia                    48
Virginia                     1
Virginia Tech               47
Virginia Tech                1
Wagner                       7
Wake Forest                 34
Wake Forest                  1
Washington                  29
Washington                   1
Washington State            40
Washington State             4
Weber State                  3
West Virginia               48
Western Carolina             5
Western Illinois             4
Western Kentucky            48
Western Kentucky             1
Western Michigan            34
Western Michigan             1
William & Mary               4
Wisconsin                   38
Wofford                      4
Wyoming                     47
Wyoming                      3
Yale                         1
Youngstown State             4
Name: count, dtype: int64

In [137]:
df1['opponent'].value_counts()

opponent
Vanderbilt                  54
Hawai'i                     53
 Alabama                    52
Rutgers                     52
UTSA                        52
UL Monroe                   51
Boston College              51
North Texas                 51
 Ohio State                 51
UAB                         50
Maryland                    50
Nebraska                    50
Stanford                    50
Texas Tech                  50
Texas State                 50
South Carolina              50
Nevada                      50
Arkansas State              49
Syracuse                    49
Florida Atlantic            49
South Florida               49
Temple                      49
Virginia                    48
Purdue                      48
West Virginia               48
Western Kentucky            48
Wyoming                     47
Troy                        47
California                  47
Mississippi State           47
Houston                     47
Utah State                  47
 Oregon                     47
UNLV                        47
New Mexico                  47
Virginia Tech               47
Memphis                     47
Minnesota                   47
Duke                        47
San Diego State             47
Rice                        46
Georgia Southern            46
Massachusetts               46
Charlotte                   46
South Alabama               46
Middle Tennessee            46
Georgia State               45
Georgia Tech                45
Colorado State              45
Tulsa                       45
Old Dominion                45
Kansas                      45
East Carolina               45
Navy                        44
Auburn                      44
TCU                         44
San José State              44
Arizona State               43
UTEP                        43
 Notre Dame                 43
Air Force                   43
Arizona                     43
Fresno State                43
Baylor                      42
Colorado                    42
UCF                         42
 Michigan                   42
Kentucky                    42
UConn                       42
Liberty                     42
Michigan State              42
Northwestern                42
Illinois                    42
Arkansas                    41
Louisiana                   41
 Georgia                    41
 Penn State                 41
Southern Miss               40
Florida International       40
Marshall                    40
Louisiana Tech              40
Washington State            40
Boise State                 40
 Ole Miss                   39
Army                        39
UCLA                        39
Eastern Michigan            38
Akron                       38
SMU                         38
Wisconsin                   38
 Texas                      38
New Mexico State            37
Louisville                  37
Oregon State                37
Indiana                     36
Pittsburgh                  36
Toledo                      36
NC State                    35
Tulane                      35
 Oklahoma                   35
Appalachian State           35
Buffalo                     34
Missouri                    34
Wake Forest                 34
Central Michigan            34
Western Michigan            34
Miami (OH)                  34
 Tennessee                  34
Ball State                  34
Kent State                  33
 Oklahoma State             33
Iowa State                  33
Coastal Carolina            33
Bowling Green               33
 USC                        33
Ohio                        32
Northern Illinois           32
Cincinnati                  32
 Clemson                    31
Iowa                        31
Florida State               31
Washington                  29
Florida                     29
 Texas A&M                  29
 Utah                       28
 BYU                        27
 Kansas State               27
LSU                         27
Kansas State                26
James Madison               26
 Miami                      25
North Carolina              25
 LSU                        24
BYU                         23
Miami                       23
 North Carolina             22
 Iowa                       22
 Iowa State                 21
 NC State                   20
Clemson                     20
Oklahoma State              20
 Cincinnati                 20
 Florida                    19
 Washington                 19
Jacksonville State          19
USC                         19
Utah                        19
Texas A&M                   18
 Missouri                   18
Tennessee                   17
 Florida State              16
 Georgia                    16
 Tulane                     15
Texas                       15
 Indiana                    15
 Louisville                 14
Oklahoma                    14
Penn State                  14
Sam Houston                 13
 SMU                        13
 Oregon State               13
 UCLA                       13
 Wisconsin                  13
 Kentucky                   12
Michigan                    12
 Pittsburgh                 12
 Boise State                12
 Wake Forest                11
 Illinois                   11
Ole Miss                    11
Kennesaw State              11
 Auburn                     10
Eastern Kentucky            10
 Notre Dame                 10
 Michigan State             10
 Baylor                     10
 Arkansas                    9
 TCU                         9
 Coastal Carolina            9
Nicholls                     8
 Colorado                    8
Abilene Christian            8
Campbell                     8
Gardner-Webb                 8
App State                    8
 UCF                         8
 Clemson                     8
Stephen F. Austin            8
Idaho                        8
 Kansas                      8
Navy                         7
 Alabama                     7
Notre Dame                   7
Southern Mississippi         7
Norfolk State                7
Duquesne                     7
Portland State               7
Idaho State                  7
 Texas                       7
Wagner                       7
Texas Southern               7
Austin Peay                  7
Murray State                 6
Northwestern                 6
 San Diego State             6
Florida                      6
SE Louisiana                 6
Bethune-Cookman              6
Long Island University       6
Maine                        6
Army                         6
Georgia Tech                 6
Ohio                         5
Northern Iowa                5
 Army                        5
Grambling                    5
Colgate                      5
Mercer                       5
Tennessee Tech               5
 Oregon                      5
Indiana State                5
 Washington State            5
Chattanooga                  5
Western Carolina             5
 Duke                        5
Miami (OH)                   5
 Ohio State                  5
Holy Cross                   5
North Alabama                5
Florida A&M                  5
UT Martin                    5
South Carolina State         5
 Arizona                     5
 Virginia Tech               5
Missouri State               5
Central Arkansas             5
 Michigan                    5
Lamar                        5
The Citadel                  5
 Fresno State                5
 Arizona State               5
Morgan State                 4
Fordham                      4
Southern Illinois            4
Towson                       4
Robert Morris                4
 UTSA                        4
Southern Utah                4
Wofford                      4
Northern Colorado            4
Youngstown State             4
Sacramento State             4
Stony Brook                  4
William & Mary               4
Howard                       4
Georgia                      4
 Houston                     4
Southeast Missouri State     4
Central Connecticut          4
Western Illinois             4
Villanova                    4
Bucknell                     4
Houston Christian            4
North Dakota                 4
Charleston Southern          4
 Marshall                    4
 Louisiana                   4
Toledo                       4
East Tennessee State         4
 Texas A&M                   4
Fresno State                 4
 Iowa State                  4
 Northwestern                4
 North Carolina              4
 UNLV                        4
Northwestern State           4
Air Force                    4
Alcorn State                 4
Richmond                     4
 Oklahoma                    4
Washington State             4
McNeese                      4
Samford                      4
Delaware State               3
Rhode Island                 3
Illinois State               3
Prairie View A&M             3
Eastern Illinois             3
 Army                        3
New Mexico                   3
 Utah                        3
 Arkansas                    3
North Carolina Central       3
 Florida State               3
Oklahoma                     3
Buffalo                      3
 Iowa                        3
Eastern Washington           3
Houston Baptist              3
Merrimack                    3
 Oklahoma State              3
Wyoming                      3
Tennessee State              3
Georgia State                3
Northern Arizona             3
Lafayette                    3
Alabama A&M                  3
Missouri                     3
Delaware                     3
 Mississippi State           3
Louisville                   3
San José State               3
BYU                          3
Texas A&M                    3
Utah Tech                    3
South Dakota                 3
UC Davis                     3
Northern Illinois            3
Liberty                      3
UAlbany                      3
Weber State                  3
St. Francis (PA)             3
Louisiana                    3
 NC State                    3
South Dakota State           3
Furman                       3
Arkansas                     3
 South Carolina              3
Cal Poly                     3
Monmouth                     3
 Syracuse                    3
 Liberty                     3
Incarnate Word               3
Boise State                  3
Texas Tech                   3
New Hampshire                3
 Cincinnati                  2
Texas State                  2
Rutgers                      2
 Purdue                      2
 Tulsa                       2
 Florida                     2
 Miami                       2
 Pittsburgh                  2
VMI                          2
Montana State                2
 Minnesota                   2
Middle Tennessee             2
Arkansas-Pine Bluff          2
Alabama State                2
UTSA                         2
Cincinnati                   2
Southern                     2
 BYU                         2
UAB                          2
Purdue                       2
Sam Houston                  2
Jacksonville State           2
 Penn State                  2
 Louisiana                   2
Ball State                   2
Marshall                     2
 TCU                         2
Houston                      2
UCLA                         2
North Texas                  2
Elon                         2
Notre Dame                   2
Utah State                   2
Auburn                       2
Memphis                      2
Kentucky                     2
Troy                         2
 Air Force                   2
Appalachian State            2
Tarleton State               2
Nebraska                     2
North Carolina A&T           2
 James Madison               2
 Tennessee                   2
Albany                       2
 Kansas State                2
Bryant                       2
South Carolina               2
 Oregon State                2
Iowa                         2
 Ole Miss                    2
Coastal Carolina             2
Pittsburgh                   2
Jackson State                2
 Baylor                      2
Nevada                       2
Oregon                       2
 Wake Forest                 2
 Northwestern                1
Western Kentucky             1
Ole Miss                     1
 Coastal Carolina            1
 Appalachian State           1
Ohio State                   1
 Indiana                     1
Syracuse                     1
Virginia                     1
California                   1
Duke                         1
Sacred Heart                 1
Arkansas State               1
Utah                         1
Georgia Southern             1
 Missouri                    1
Texas A&M-Commerce           1
 Washington                  1
North Dakota State           1
SMU                          1
UCF                          1
Indiana                      1
Iowa State                   1
 Louisville                  1
New Mexico State             1
South Alabama                1
James Madison                1
 Air Force                   1
Maryland                     1
South Florida                1
 LSU                         1
San Diego State              1
Wake Forest                  1
Valparaiso                   1
Texas                        1
North Carolina               1
Minnesota                    1
Washington                   1
 Syracuse                    1
 Georgia Tech                1
USC                          1
 Vanderbilt                  1
East Texas A&M               1
Western Michigan             1
Montana State                1
Southern Miss                1
East Carolina                1
Rice                         1
Tarleton                     1
 USC                         1
 Boston College              1
Boston College               1
UConn                        1
 Illinois                    1
 Navy                        1
Colorado State               1
Virginia Tech                1
 Arizona State               1
TCU                          1
 Nebraska                    1
Vanderbilt                   1
Penn State                   1
Arizona                      1
Alabama                      1
UTEP                         1
Ohio State                   1
 Kentucky                    1
Stanford                     1
Eastern Michigan             1
NC State                     1
Tulane                       1
 Navy                        1
 SMU                         1
 Northern Illinois           1
 Colorado                    1
Louisiana Tech               1
Lehigh                       1
Kent State                   1
 Wisconsin                   1
Hampton                      1
Kansas State                 1
Colorado                     1
Yale                         1
Oregon State                 1
Montana                      1
Central Michigan             1
 Memphis                     1
Name: count, dtype: int64