In [12]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)
# pd.reset_option('all')

In [ ]:
df = pd.read_csv('CollegeFootballRankings24to20.csv')
df

In [33]:
for i in df:
    print(i)

Team
date
Team_id
opponent
win_loss
OT
OT_num
pass
rush
rec
points_allowed
points_scored
point_differential
home_game
week
season
CONF
SOR
FPI
AP/CFP
SOS
GC
AVGWP

In [ ]:
df['Team'].unique()
team_unique = df['Team'].unique()
team_unique = sorted(team_unique)
team_unique

In [ ]:
df['Team'].value_counts().sort_index()

In [27]:
df['Team'].isna().sum()

np.int64(0)

In [28]:
df['date'].isna().sum()

np.int64(0)

In [29]:
df['date'].nunique()

390

In [ ]:
df['date'].value_counts()
date_unique = df['date'].unique()
date_unique = sorted(date_unique)
date_unique

In [ ]:
df['date'].value_counts().sort_index()

In [34]:
df['Team_id'].isna().sum()

np.int64(0)

In [ ]:
team_id_unique = df['Team_id'].unique()
team_id_unique = sorted(team_id_unique)
team_id_unique

In [36]:
df['Team_id'].value_counts()

Team_id
154     132
87       75
61       75
333      75
349      74
153      73
228      73
251      73
249      72
98       72
66       72
290      71
194      71
2636     71
99       71
201      71
252      71
97       70
324      70
57       70
276      70
235      70
2655     70
2306     70
2633     70
197      70
2426     70
142      70
344      69
213      69
2032     69
221      69
2390     69
145      69
309      69
2116     68
2641     68
2653     68
2132     68
8        68
96       68
150      68
2628     68
239      68
245      68
2        68
2335     68
23       67
130      67
68       67
59       67
2294     67
326      67
2579     67
2567     67
6        67
2483     66
275      66
52       66
277      66
135      66
238      66
103      66
278      66
2348     66
2305     66
5        66
62       65
30       65
21       65
2638     65
2005     65
2433     65
2247     65
164      65
2439     65
158      65
356      65
183      65
77       65
58       65
259      64
2751     64
2226     64
248      64
328      64
2393     64
2440     64
9        63
258      63
84       63
2509     63
26       63
120      62
127      62
204      62
202      62
151      62
38       61
265      61
2649     61
2429     61
242      61
254      61
264      60
113      60
2084     60
167      60
218      59
193      59
195      59
2459     59
2229     59
166      58
2199     58
12       58
25       58
2711     57
36       57
189      57
24       57
2050     57
41       56
2006     56
2117     56
295      55
2309     55
2572     53
256      42
55       30
2534     27
2026     14
338      13
Name: count, dtype: int64

In [37]:
df['opponent'].isna().sum()

np.int64(0)

In [38]:
df['opponent'].value_counts()

opponent
Bye                         762
Notre Dame                   66
Texas                        65
Georgia                      64
Alabama                      64
NC State                     64
Michigan                     62
Ohio State                   62
Clemson                      62
Penn State                   62
UTSA                         61
Louisville                   61
Tulane                       61
Oklahoma State               60
Pittsburgh                   60
Oklahoma                     60
Western Kentucky             60
Iowa State                   60
Iowa                         60
Florida                      59
Ole Miss                     59
LSU                          59
Missouri                     59
Duke                         59
Louisiana                    59
Syracuse                     58
BYU                          58
Virginia Tech                58
TCU                          58
Oregon                       58
Boise State                  58
SMU                          58
Kansas State                 58
USC                          58
UCF                          58
Houston                      58
Wisconsin                    57
Minnesota                    57
Auburn                       57
Baylor                       57
South Carolina               57
Tennessee                    57
Memphis                      57
Arkansas                     57
Kentucky                     57
Boston College               57
Rutgers                      57
Liberty                      57
North Carolina               57
Toledo                       56
Illinois                     56
West Virginia                56
Texas Tech                   56
Vanderbilt                   56
Navy                         56
Texas State                  56
South Alabama                56
Army                         56
Mississippi State            56
Cincinnati                   56
San Diego State              55
Middle Tennessee             55
Coastal Carolina             55
Georgia Southern             55
Kansas                       55
UCLA                         55
Fresno State                 55
Nevada                       55
Hawai'i                      55
North Texas                  55
Texas A&M                    55
Georgia Tech                 55
Purdue                       55
Florida State                55
Troy                         54
Washington                   54
UAB                          54
Oregon State                 54
Utah State                   54
Miami                        54
Utah                         54
UNLV                         54
Tulsa                        54
Georgia State                54
Nebraska                     54
Northwestern                 54
Arkansas State               54
San José State               54
South Florida                53
Indiana                      53
Colorado                     53
Eastern Michigan             53
Michigan State               53
Buffalo                      53
Miami (OH)                   53
Northern Illinois            53
Air Force                    53
Ball State                   53
Western Michigan             52
Temple                       52
Bowling Green                52
Maryland                     52
Virginia                     52
Arizona State                52
Florida Atlantic             52
Ohio                         52
Wyoming                      52
UTEP                         52
Stanford                     51
Louisiana Tech               51
East Carolina                51
New Mexico                   51
UL Monroe                    51
Central Michigan             51
Marshall                     51
Washington State             51
Arizona                      50
Wake Forest                  50
California                   50
Akron                        50
Kent State                   50
Rice                         50
Charlotte                    49
Colorado State               49
Old Dominion                 48
Florida International        48
Appalachian State            47
New Mexico State             47
Massachusetts                46
UConn                        44
Southern Miss                44
James Madison                32
Jacksonville State           31
Sam Houston                  25
Kennesaw State               14
App State                    10
Eastern Kentucky             10
Southern Mississippi          9
Wagner                        8
Campbell                      8
Gardner-Webb                  8
Murray State                  8
Nicholls                      8
Idaho                         8
Abilene Christian             8
Stephen F. Austin             8
Duquesne                      8
Long Island University        8
Portland State                8
Southern Utah                 7
Bethune-Cookman               7
Norfolk State                 7
Austin Peay                   7
Idaho State                   7
South Carolina State          7
Texas Southern                7
SE Louisiana                  7
Maine                         6
The Citadel                   6
Chattanooga                   6
UT Martin                     6
Central Arkansas              6
Northwestern State            6
St. Francis (PA)              5
Indiana State                 5
North Alabama                 5
Alcorn State                  5
Fordham                       5
Florida A&M                   5
Lamar                         5
Western Carolina              5
Grambling                     5
Mercer                        5
Colgate                       5
Missouri State                5
Northern Iowa                 5
Holy Cross                    5
Central Connecticut           5
Western Illinois              5
Sacramento State              5
North Carolina A&T            5
Eastern Washington            5
Howard                        5
Tennessee Tech                5
Eastern Illinois              5
South Dakota                  4
UC Davis                      4
Bucknell                      4
Houston Baptist               4
New Hampshire                 4
Samford                       4
Villanova                     4
Arkansas-Pine Bluff           4
Weber State                   4
Stony Brook                   4
Lafayette                     4
Southeast Missouri State      4
East Tennessee State          4
Elon                          4
William & Mary                4
Cal Poly                      4
Youngstown State              4
North Dakota                  4
Towson                        4
Robert Morris                 4
VMI                           4
Northern Arizona              4
Northern Colorado             4
Southern Illinois             4
Alabama A&M                   4
Morgan State                  4
Houston Christian             4
McNeese                       4
Wofford                       4
Richmond                      4
Charleston Southern           4
Rhode Island                  4
Delaware State                3
Utah Tech                     3
Furman                        3
Monmouth                      3
North Carolina Central        3
Tennessee State               3
Delaware                      3
UAlbany                       3
Jackson State                 3
Merrimack                     3
Montana State                 3
South Dakota State            3
Bryant                        3
Incarnate Word                3
Prairie View A&M              3
Illinois State                3
North Dakota State            2
Alabama State                 2
Tarleton State                2
Southern                      2
Albany                        2
Valparaiso                    1
Tarleton                      1
Montana                       1
Texas A&M-Commerce            1
East Texas A&M                1
Yale                          1
Sacred Heart                  1
Hampton                       1
Lindenwood                    1
Lehigh                        1
Name: count, dtype: int64

In [40]:
opponent_unique = df['opponent'].unique()
opponent_unique = sorted(opponent_unique)
opponent_unique

['Abilene Christian',
 'Air Force',
 'Akron',
 'Alabama',
 'Alabama A&M',
 'Alabama State',
 'Albany',
 'Alcorn State',
 'App State',
 'Appalachian State',
 'Arizona',
 'Arizona State',
 'Arkansas',
 'Arkansas State',
 'Arkansas-Pine Bluff',
 'Army',
 'Auburn',
 'Austin Peay',
 'BYU',
 'Ball State',
 'Baylor',
 'Bethune-Cookman',
 'Boise State',
 'Boston College',
 'Bowling Green',
 'Bryant',
 'Bucknell',
 'Buffalo',
 'Bye',
 'Cal Poly',
 'California',
 'Campbell',
 'Central Arkansas',
 'Central Connecticut',
 'Central Michigan',
 'Charleston Southern',
 'Charlotte',
 'Chattanooga',
 'Cincinnati',
 'Clemson',
 'Coastal Carolina',
 'Colgate',
 'Colorado',
 'Colorado State',
 'Delaware',
 'Delaware State',
 'Duke',
 'Duquesne',
 'East Carolina',
 'East Tennessee State',
 'East Texas A&M',
 'Eastern Illinois',
 'Eastern Kentucky',
 'Eastern Michigan',
 'Eastern Washington',
 'Elon',
 'Florida',
 'Florida A&M',
 'Florida Atlantic',
 'Florida International',
 'Florida State',
 'Fordham',
 'Fresno State',
 'Furman',
 'Gardner-Webb',
 'Georgia',
 'Georgia Southern',
 'Georgia State',
 'Georgia Tech',
 'Grambling',
 'Hampton',
 "Hawai'i",
 'Holy Cross',
 'Houston',
 'Houston Baptist',
 'Houston Christian',
 'Howard',
 'Idaho',
 'Idaho State',
 'Illinois',
 'Illinois State',
 'Incarnate Word',
 'Indiana',
 'Indiana State',
 'Iowa',
 'Iowa State',
 'Jackson State',
 'Jacksonville State',
 'James Madison',
 'Kansas',
 'Kansas State',
 'Kennesaw State',
 'Kent State',
 'Kentucky',
 'LSU',
 'Lafayette',
 'Lamar',
 'Lehigh',
 'Liberty',
 'Lindenwood',
 'Long Island University',
 'Louisiana',
 'Louisiana Tech',
 'Louisville',
 'Maine',
 'Marshall',
 'Maryland',
 'Massachusetts',
 'McNeese',
 'Memphis',
 'Mercer',
 'Merrimack',
 'Miami',
 'Miami (OH)',
 'Michigan',
 'Michigan State',
 'Middle Tennessee',
 'Minnesota',
 'Mississippi State',
 'Missouri',
 'Missouri State',
 'Monmouth',
 'Montana',
 'Montana State',
 'Morgan State',
 'Murray State',
 'NC State',
 'Navy',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Mexico',
 'New Mexico State',
 'Nicholls',
 'Norfolk State',
 'North Alabama',
 'North Carolina',
 'North Carolina A&T',
 'North Carolina Central',
 'North Dakota',
 'North Dakota State',
 'North Texas',
 'Northern Arizona',
 'Northern Colorado',
 'Northern Illinois',
 'Northern Iowa',
 'Northwestern',
 'Northwestern State',
 'Notre Dame',
 'Ohio',
 'Ohio State',
 'Oklahoma',
 'Oklahoma State',
 'Old Dominion',
 'Ole Miss',
 'Oregon',
 'Oregon State',
 'Penn State',
 'Pittsburgh',
 'Portland State',
 'Prairie View A&M',
 'Purdue',
 'Rhode Island',
 'Rice',
 'Richmond',
 'Robert Morris',
 'Rutgers',
 'SE Louisiana',
 'SMU',
 'Sacramento State',
 'Sacred Heart',
 'Sam Houston',
 'Samford',
 'San Diego State',
 'San José State',
 'South Alabama',
 'South Carolina',
 'South Carolina State',
 'South Dakota',
 'South Dakota State',
 'South Florida',
 'Southeast Missouri State',
 'Southern',
 'Southern Illinois',
 'Southern Miss',
 'Southern Mississippi',
 'Southern Utah',
 'St. Francis (PA)',
 'Stanford',
 'Stephen F. Austin',
 'Stony Brook',
 'Syracuse',
 'TCU',
 'Tarleton',
 'Tarleton State',
 'Temple',
 'Tennessee',
 'Tennessee State',
 'Tennessee Tech',
 'Texas',
 'Texas A&M',
 'Texas A&M-Commerce',
 'Texas Southern',
 'Texas State',
 'Texas Tech',
 'The Citadel',
 'Toledo',
 'Towson',
 'Troy',
 'Tulane',
 'Tulsa',
 'UAB',
 'UAlbany',
 'UC Davis',
 'UCF',
 'UCLA',
 'UConn',
 'UL Monroe',
 'UNLV',
 'USC',
 'UT Martin',
 'UTEP',
 'UTSA',
 'Utah',
 'Utah State',
 'Utah Tech',
 'VMI',
 'Valparaiso',
 'Vanderbilt',
 'Villanova',
 'Virginia',
 'Virginia Tech',
 'Wagner',
 'Wake Forest',
 'Washington',
 'Washington State',
 'Weber State',
 'West Virginia',
 'Western Carolina',
 'Western Illinois',
 'Western Kentucky',
 'Western Michigan',
 'William & Mary',
 'Wisconsin',
 'Wofford',
 'Wyoming',
 'Yale',
 'Youngstown State']