In [1]:
import pandas as pd

In [4]:
pd.read_html('https://www.boxofficemojo.com/year/2024', 
                       match='Rank')

[     Rank                               Release Genre Budget Running Time  \
 0       1                          Inside Out 2     -      -            -
 1       2                  Deadpool & Wolverine     -      -            -
 2       3                                Wicked     -      -            -
 3       4                               Moana 2     -      -            -
 4       5                       Despicable Me 4     -      -            -
 ..    ...                                   ...   ...    ...          ...
 195   196                                  Yolo     -      -            -
 196   197                   Queen Rock Montreal     -      -            -
 197   198                             The Order     -      -            -
 198   199  SUGA: Agust D Tour 'D-DAY' the Movie     -      -            -
 199   200                       Out of Darkness     -      -            -

             Gross  Theaters   Total Gross Release Date  \
 0    $652,980,194      4440  $652,980,194       Jun 14
 1    $636,745,858      4330  $636,745,858       Jul 26
 2    $432,943,285      3888  $473,231,120       Nov 22
 3    $404,017,489      4200  $460,405,297       Nov 27
 4    $361,004,205      4449  $361,004,205        Jul 3
 ..            ...       ...           ...          ...
 195    $2,001,584       200    $2,001,584        Mar 8
 196    $2,000,000       387    $2,000,000       Jan 18
 197    $1,980,622       603    $2,010,901        Dec 6
 198    $1,951,896       787    $1,951,896       Apr 10
 199    $1,951,547       897    $1,951,547        Feb 9

                              Distributor  Estimated
 0    Walt Disney Studios Motion Pictures      False
 1    Walt Disney Studios Motion Pictures      False
 2                     Universal Pictures      False
 3    Walt Disney Studios Motion Pictures      False
 4                     Universal Pictures      False
 ..                                   ...        ...
 195              Sony Pictures Releasing      False
 196                                    -      False
 197               Vertical Entertainment      False
 198                  Trafalgar Releasing      False
 199                Bleecker Street Media      False

 [200 rows x 11 columns]]

In [5]:
data = pd.read_html('https://www.espn.com/college-football/rankings/_/week/16/year/2020/seasontype/2', 
                       match='RK')[0]

data.head()

   RK            Team   REC TREND
0   1     ALA Alabama  10-0     -
1   2   ND Notre Dame  10-0     -
2   3    CLEM Clemson   9-1     -
3   4  OSU Ohio State   5-0     -
4   5  TA&M Texas A&M   7-1     -